# IDE
.idea/

# Python
*.py[cod]
__pycache__/

# Venv
.venv/

# System
.DS_Store

# Pip
*.egg-info

# Testing
.pytest_cache/
.coverage

# installaion
build/

# large files
data/genotype_mean.col
data/genotype_test_mixed.col
data/meta_population_summarized.tsv
data/population.tsv
data/proj_PCA/
data/snv_meta_4.5M.bed